wgu/x64/Debug/C867.pdb
wgu/C867/x64/Debug/vc142.idb
wgu/C867/x64/Debug/vc142.pdb
wgu/C867/x64/Debug/C867.tlog/C867.lastbuildstate
wgu/C867/x64/Debug/C867.tlog/CL.command.1.tlog
wgu/C867/x64/Debug/C867.tlog/CL.read.1.tlog
wgu/C867/x64/Debug/C867.tlog/CL.write.1.tlog
wgu/C867/x64/Debug/C867.tlog/link-cvtres.read.1.tlog
wgu/C867/x64/Debug/C867.tlog/link-cvtres.write.1.tlog
wgu/C867/x64/Debug/C867.tlog/link-rc.read.1.tlog
wgu/C867/x64/Debug/C867.tlog/link-rc.write.1.tlog
wgu/C867/x64/Debug/C867.tlog/link.command.1.tlog
wgu/C867/x64/Debug/C867.tlog/link.read.1.tlog
wgu/C867/x64/Debug/C867.tlog/link.write.1.tlog
wgu/C867/x64/Debug/C867.tlog/unsuccessfulbuild
wgu/C867/Debug/C867.log
wgu/C867/Debug/networkStudent.obj
wgu/C867/Debug/roster.obj
wgu/C867/Debug/securityStudent.obj
wgu/C867/Debug/student.obj
wgu/C867/Debug/vc142.idb
wgu/C867/Debug/vc142.pdb
wgu/C867/Debug/C867.tlog/C867.lastbuildstate
wgu/C867/Debug/C867.tlog/CL.command.1.tlog
wgu/C867/Debug/C867.tlog/CL.read.1.tlog
wgu/C867/Debug/C867.tlog/CL.write.1.tlog
wgu/C867/Debug/C867.tlog/unsuccessfulbuild
wgu/C867/x64/Debug/networkStudent.obj
wgu/C867/x64/Debug/roster.obj
wgu/C867/x64/Debug/securityStudent.obj
wgu/C867/x64/Debug/softwareStudent.obj
wgu/C867/x64/Debug/student.obj
wgu/C867/x64/Debug/C867.log
wgu/.vs/C867/v16/.suo
wgu/.vs/C867/v16/Browse.VC.db
wgu/.vs/C867/v16/ipch/AutoPCH/3317fce5eac7ef16/NETWORKSTUDENT.ipch
wgu/.vs/C867/v16/ipch/AutoPCH/5f259ca52be4ea8e/SECURITYSTUDENT.ipch
wgu/.vs/C867/v16/ipch/AutoPCH/8e7cdc83a459737c/ROSTER.ipch
wgu/.vs/C867/v16/ipch/AutoPCH/d63b1a1e4fe61ee7/SOFTWARESTUDENT.ipch
wgu/.vs
/wgu/C968/reqs/~$I Mock Up.docx
/wgu/C968/Solution/MasterOfParts/.vs/MasterOfParts/v16
/wgu/C968/Solution/MasterOfParts/obj
