<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ScheduleBossDatabase"
         connectionString="database=U047yU;server=3.227.166.251;user=U047yU;password=53688172274"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WorkDayStart" value="08:00:00" />
    <add key="WorkDayEnd" value="17:00:00" />
    <add key="WorkDays" value="Monday,Tuesday,Wednesday,Thursday,Friday" />
    <add key="WorkWeek" value="Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday" />
  </appSettings>
</configuration>